---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { render } from "astro:content";

const pages = await getSinglePage("pages");
const homePage = pages.find((p) => p.id === "index") ?? pages[0];

const { title, meta_title, description, image } = homePage?.data ?? {};
const { Content } = homePage ? await render(homePage) : { Content: undefined };

const call_to_action = await getListPage("ctaSection", "call-to-action");
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          {image && (
            <div class="mb-8">
              <img src={image} alt={title} class="w-full rounded" />
            </div>
          )}
          <h1 class="h2 mb-6">{title}</h1>
          <div class="content">
            {Content && <Content />}
          </div>
        </div>
      </div>
    </div>
  </section>
  {call_to_action.data.enable && <CallToAction call_to_action={call_to_action} />}
</Base>
